[submodule "Submodules/PoeEye"]
	path = Submodules/PoeEye
	url = https://github.com/iXab3r/PoeEye.git
	branch = MicSwitch
[submodule "Submodules/DeploymentTools"]
	path = Submodules/DeploymentTools
	url = https://github.com/iXab3r/DeploymentTools.git
[submodule "Submodules/PropertyBinder"]
	path = Submodules/PropertyBinder
	url = https://github.com/iXab3r/PropertyBinder.git
[submodule "Submodules/gong-wpf-dragdrop"]
	path = Submodules/gong-wpf-dragdrop
	url = https://github.com/iXab3r/gong-wpf-dragdrop.git
